# IntelliJ IDEA
.idea/
*.iml
*.iws

# 编译输出
out/
build/
target/
bin/
classes/

# 临时文件
*.log
*.tmp
*.swp
*.bak
*.class
*.DS_Store

# Maven
.mvn/
!**/src/main/**/.gitkeep
!**/src/test/**/.gitkeep

# Gradle
.gradle/
build/

# Eclipse（如果切换过 IDE 也建议加上）
.project
.classpath
.settings/

# OS 系统文件
Thumbs.db
.DS_Store
